.cartproductimg {
  width: 150px;
  height: 150px;
}

.cartdetails {
  display: block;
}

.cartdetailsname,
.cartdetailsprice,
.cartdetailsquantity,
.cartdetailsupdatebutton,
.cartdetailsaddminusbutton {
  margin-left: 4vw;
  display: flex;
}

.cartdetailsaddminusbutton {
  margin-top: 5px;
}
.cartdetailsupdatebutton {
  margin-top: 9px;
}

.cartdetailsname {
  font-size: 20px;
}

.cartdetailsprice,
.cartdetailsquantity {
  font-size: 17px;
}

.cartbody {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartoutterbox {
  width: 50%;
  height: 85%;

  border-radius: 20px;

  display: flex;
  flex-wrap: wrap;
}

.carthr {
  width: 100%;
  margin-top: 20px;
}
.cartsubtotal {
  text-align: center;
  font-size: 20px;
  color: black;
}

.CartProductcardbutton2 {
  width: 37px;
  height: 25px;
  color: #00004d;
  border-radius: 40px;
  border: 1px #00004d solid;
  background-color: transparent;
}

.CartProductcardbutton2:hover {
  color: black;
  border: 1px rgb(242, 227, 56);
  background-color: rgb(242, 227, 56);
}

.CartProductinput2 {
  width: 53px;
  height: 25px;
  color: #00004d;
  margin: 0 5px;
}

.cartDiv {
  margin-bottom: 15px;
}

.checkoutbutton :hover {
  background-color: aqua;
}

@media (max-width: 760px) {
  .cartoutterbox {
    width: 72%;
  }
  .cartDiv {
    margin-left: 8vw;
  }
}
