@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

form {
  margin: auto;
  padding: 150px;
  color: white;
}
.card-container {
  background-color: #925e0b;
  padding: 20px 40px;
  margin: 100px;
  border-radius: 15px;
}

.first-last {
  display: flex;
}
