
.backgroundimage {
  height: 100%;
  background-image: url("wooden-background.jpg");
  background-size: cover;
}

.homepagecontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepageimg {
  width: 50vw;
  height: 100vh;
  display: block;
  object-fit: cover;
  object-position: center;
}
.homepageleft .homepageright {
  width: 50vw;
}

.homepageright {
  text-align: center;
}

.errorpageh1 {
  text-align: center;
  padding: 20px 0 20px 0;
}

.errorpageptag {
  text-align: center;
  font-size: 25px;
  padding: 40px 0 20px 0;
}

.errorpageimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.errorPageButton {
  width: 205px;
  height: 40px;
  color: #1a1818;
  border-radius: 20px;
  border: 1px yellow solid;
  background-color: rgb(242, 227, 56);
  font-size: 20px;
}

.errorpagebuttondiv {
  display: flex;
  justify-content: center;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.homepagebutton {
  width: 200px;
  height: 30px;
  color: #1a1818;
  border-radius: 40px;
  border: 1px yellow solid;
  background-color: rgb(242, 227, 56);
  padding-bottom: 30px;
}

.homepageh2tag {
  display: inline;
}
