@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

/* body{
background-image: url("wooden-background.jpg");
background-repeat: no-repeat;
background-size: cover;
box-shadow: inset 0 0 0 5000px rgba(237, 237, 196, 0.3);
background-clip: content-box;
/* background-attachment: fixed; */

/* } */
*/ main {
  min-height: 80vh;
}

.backgroundimage {
  height: 100%;
  background-image: url("wooden-background.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 5000px rgba(237, 237, 196, 0.5);
}

.homepagecontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageimg {
  width: 50vw;
  height: 100vh;
  display: block;
  object-fit: cover;
  object-position: center;
}
.homepageleft .homepageright {
  width: 50vw;
}

.homepageright {
  text-align: center;
}

.errorpageh1 {
  text-align: center;
  padding: 20px 0 20px 0;
}

.errorpageptag {
  text-align: center;
  font-size: 25px;
  padding: 40px 0 20px 0;
}

.errorpageimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.errorPageButton {
  width: 205px;
  height: 40px;
  color: #1a1818;
  border-radius: 20px;
  border: 1px yellow solid;
  background-color: rgb(242, 227, 56);
  font-size: 20px;
}

.errorpagebuttondiv {
  display: flex;
  justify-content: center;
}

.homepagebutton {
  width: 200px;
  height: 30px;
  color: #1a1818;
  border-radius: 40px;
  border: 1px yellow solid;
  background-color: rgb(242, 227, 56);
  padding-bottom: 30px;
}

.homepageh2tag {
  display: inline;
  font-family: "Poppins";
}

.each-product-image {
  width: 40vw;
  height: 60vh;
  display: block;
  object-position: center;
  margin-left: 15vw;
  border-radius: 15px;
}

.each-product-left {
  width: 50vw;
}

.each-product-right {
  width: 5.5vw;
  text-align: center;
}

.each-product-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: -80px;
}

.each-product-name,
.each-product-description,
.each-product-price,
.hr,
.each-product-button {
  margin-left: 85px;
}

.each-product-button {
  width: 110px;
  height: 30px;
  color: #1a1818;
  border-radius: 40px;
  border: 1px yellow solid;
  background-color: rgb(242, 227, 56);
}

.hr {
  width: 80%;
}

@media (max-width: 760px) {
  .each-product-container {
    display: block;
    margin-top: 8px;
  }
  .each-product-image {
    width: 75vw;
    height: 50vh;
    margin-left: 7vw;
  }
  .each-product-name {
    margin-top: 20px;
  }
  .each-product-name,
  .each-product-description,
  .each-product-price,
  .hr,
  .each-product-button {
    margin-left: 7vw;
  }
}

@media (max-width: 1050px) and (min-width: 760px) {
  .each-product-image {
    width: 50vw;
    height: 50vh;
    margin-left: 6.8vw;
  }
  .each-product-name {
    margin-top: 20px;
  }
  .each-product-name,
  .each-product-description,
  .each-product-price,
  .hr,
  .each-product-button {
    margin-left: 17vw;
  }
  .hr {
    width: 30vw;
  }
}
